{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>{{ image.title }} </h1>

    <img class="image" src="{{image.file.url}}" alt="image{{image.title}}" />

    <p>{{ image.description }}</p>
    <p>Uploaded: {{ image.upload_date }}</p>
    <p>User: {{ userinfo.username }}</p>
    {% if error %}
    <p>{{error}}</p>
    {%endif%}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">  
    </form>
    <hr>

</div>

{% endblock %}