{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>{{ image.title }} </h1>

    <img class="image" src="{{image.file.url}}" alt="image{{image.title}}" />

    <p>Description: {{ image.description }}</p>
    <p>Uploaded: {{ image.upload_date }}</p>
    <p>User: {{ userinfo.username }}</p>


    {% if savedImage and savedImage.imageOwner %}
        <a href="/images/edit_image/{{image.id}}">edit</a>
    {% elif savedImage %}
        <a href="/images/remove_image/{{image.id}}">remove</a>
    {% else %}
        <a href="/images/save_image/{{image.id}}">save</a>
    {% endif %}
    <!-- {% if error %}
    <p>{{error}}</p>
    {%endif%}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">  
    </form> -->

    <hr>

</div>

{% endblock %}