.nav {
    border-bottom: 1px solid black;
    background-color: rgba(77, 74, 74, 0.719);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px;
    padding: 11px;
    display: block;
}

.nav ol {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px 14px 0px 16px;
    padding: 11px;
    width: 100%;
}

.nav li {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a {
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    padding: 14px 16px;
}

.nav a:hover {
    background-color: orange;
}

body {
    margin: 0px;
    padding: 0px;
}