.nav {
    border-bottom: 1px solid black;
    background-color: rgba(77, 74, 74, 0.719);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin: 0px;
    padding: 11px;
    display: block;
}

.nav ol {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px 14px 0px 16px;
    padding: 11px;
    width: 100%;
}

.nav li {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a {
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    padding: 14px 16px;
    border-radius: 5%;
}

.nav a:hover {
    background-color: orange;
}

body {
    margin: 0px;
    padding: 0px;
}

.images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    transition: all 200ms ease;
    cursor: pointer;
}

.image-container:hover {
    transform: scale(1.05);
}

.image {
    max-width: 50vw;
    border-radius: 10px;
}

.image-title {
    text-align: center;
    font-weight: 400;
}