<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Sharing</title>
</head>

<body>
    {% block navbar%}
    <nav>
        <ul>
            <a href="">Home</a>
            <a href="">Login</a>
            <a href="">Register</a>
            <a href="">Browse</a>
            <input type="search" title="Search"></input>
        </ul>

    </nav>
    {% endblock %} {% block content%} {% endblock%}
</body>

</html>