<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block title %}
    <title>Image Sharing</title>{% endblock %}
</head>

<body>
    {% block navbar%}
    <nav style="border-bottom: 1px solid black;">
        <ol style=" list-style-type: none;
        padding-left: 0;">
            <li style="display: inline-block;"><a href="">Home</a></li>
            <li style="display: inline-block;"><a href="">Login</a></li>
            <li style="display: inline-block;"><a href="">Register</a></li>
            <li style="display: inline-block;"><a href="">Browse</a></li>
            <li style="display: inline-block;"><input type="search" title="Search"></input>
            </li>
        </ol>

    </nav>
    {% endblock %} {% block content%}
    <p>This is content</p> {% endblock%}
</body>

</html>